* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div.container {
  border: 1px solid black;
  width: 1400px;
  margin: 0 auto;

}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
section {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
}

/* header영역 */
/* header nav영역 */
header nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-left: 35px;
  padding-right: 40px;
}
header nav ul {
  display: flex;
  gap: 15px;
  font-size: 25px;
  line-height: 40px;
}
header nav li {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
}
header nav #nav_li1 {
  border: 1px solid black;
  line-height: 35px;
  font-weight: 600;
  font-size: 15px;
}
header nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
header nav li a:hover{
  background-color: rgb(239, 237, 237);
  border-radius: 50%;
}

/* header search영역 */
div.search-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.search-group .search {
  display: flex;
  align-items: center;
  border: 1px solid #6ADE9D;
  border-radius: 40px;
  width: 750px;
  height: 60px;
  font-size: 30px;
  font-weight: 900;
  color: #03C75A;
  padding: 10px;
  padding-left: 25px;
}
div.search-group .search:hover {
  box-shadow : 1px 1px 1px 1px rgb(209, 206, 206);
  cursor: pointer;
}
div.search-group .search input {
  outline: none;
}
div.search a {
  color: #03C75A;
}
div.search #input-text {
  width: 550px;
  font-size: 25px;
  margin-left: 15px;
  border: none;
}
div.search #ikeyboard {
  font-size: 20px;
  color: #C5C5C7;
}
div.search #iunder {
  font-size: 12px;
  color: #C5C5C7;
}

/* header search menu 영역 */

div.search-group .search-menu {
  display: flex;
  gap: 25px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
  
}
.search-menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-menu a span {
  margin-top: 4px;
  font-weight: 330;
  font-size: 0.9rem;
}
.search-menu img {
  border-radius: 10px;
}
.search-menu a:hover img{
  box-shadow: 1px 1px 1px 1px rgb(219, 214, 214);
}


div.main-aside {
  border: 1px solid #451C24;
  display: flex;
  width: 100%;
  padding: 35px;
  gap: 30px
}
/* main영역 */
main {
  width: 850px;
}

/* main-ad영역 */
.main-ad {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  position: relative;
  margin-bottom: 15px;
}
.main-ad ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-ad p {
  font-weight: 700;
  font-size: 1.1rem;
}
.main-ad #unicef-span {
  font-weight: 350;
}
.main-ad  #jimin{
  height: 130px;
}
.main-ad > #span-AD {
  border-radius: 50px;
  background-color: #451C24;
  color: white;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.main-ad #span-AD2 {
  position: absolute;
  top: 2px;
  right: 5px;
  border: 1px solid #C5C5C7;
  width: 23px;
  text-align: center;
  border-radius: 50px;
  font-size: 0.6rem;
  color: #999999;

}

/* main section 1번 */
.main-section1 {
  margin-bottom: 15px;
}

/* main section1 h2영역 */
.main-section1 h2 {
font-size: 1.0rem;
color: #d6d5d5;
margin: 15px;
}
.main-section1 h2 > a {
color: #7F7F7F;
}
.main-section1 h2 >a:hover {
  text-decoration: underline;
}
#spandotted {
  font-size: 1.2rem;
  color: #7F7F7F;
}

/* main section1-article1 영역 */
.main-section1-art1 {
  display: flex;
  justify-content: space-between;
  background-color: #F8F9FA;
  border-radius: 5px;
  margin: 15px;
}
.main-section1-art1 ul{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  font-size: 0.9rem;
  font-weight: 350;
}
.art1-item {
  font-size: 0.5rem;
  color: #403f3f;
}
.art1-item1 {
  font-size: 0.8rem;
}
.art1-item2 {
  font-size: 1.3rem;
  color: #b6b4b4;
}
.main-section1-art1 ul a:hover {
  text-decoration: underline;
}

/* main section1-article 2 영역 */
.main-section1-art2 {
  border-radius: 8px;
  overflow: hidden;
  margin: 15px;
}
.main-section1-art2 table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.main-section1-art2 table td{
  border: 1px solid #E4E4E4;
  height: 50px;
  text-align: center;
}
.main-section1-art2 table td:hover{
  background-color: #f2f2f4;
}

/* main section1-article 3 영역 */
.main-section1-art3 {
  position: relative;
  border-top: 1px solid #E4E4E4;
  text-align: center;  
  padding: 17px;
}
.main-section1-art3 ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  color: #7F7F7F;
}
.main-section1-art3 ul li{
  font-size: 0.9rem;
  line-height: 27px;
}
.main-section1-art3 ul span {
  color: #406CDC;
  font-weight: 600;
}

.art3-li {
  border: 1px solid #a8a6a6;
  border-radius: 50%;
  font-size: 0.9rem;
  width: 30px;
  height: 30px;
  line-height: 27px;
}
.art3-li:hover {
  background-color: #E4E4E4;
}
.art3-span {
  position: absolute;
  top: 20px;
  right: 15px;
}
.art3-span img:hover {
  box-shadow: 1px 1px 1px 1px #E4E4E4;
}

/* main section2 영역 */
.main-section2 {
  margin-bottom: 15px;
}
.main-section2 h2 {
font-size: 1.0rem;
color: #d6d5d5;
margin: 15px;
}
/* main setion2 top영역 */
.main-section2 h2 > a {
color: #7F7F7F;
}
.main-section2 h2 >a:hover {
  text-decoration: underline;
}

.main-section2-top{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.main-section2-top-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-section2-top-icon span {
  font-size: 0.9rem;
  color: #403f3f;
}
.main-section2-top-icon ul {
  display: flex;
  border: 1px solid #d6d5d5;
  border-radius: 5px;
  width: 60px;
  height: 28px;
}
.main-section2-top-icon li {
  width: 30px;
  text-align: center;
}
.main-section2-top-icon li:hover {
  background-color: #eeebeb;
}
.main-section2-top-icon li:first-child {
  border-right: 1px solid #d6d5d5;
}

/* main-section2 article 영역 */
.main-section2-art {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  
}

/* left-article 영역 */
.section2-left-article {
  width: 165px;
}
.shop-list {
background-color: #F8F9FA;
border-radius: 5px;
padding: 12px;
margin-left: 15px;
font-size: 0.8rem;         
line-height: 2.2;        
color: #333;
margin-bottom: 15px;
}
.shop-list a:hover {
  text-decoration: underline;
}
.delivery {
  margin-left:20px;
  margin-bottom: 15px;
  font-size: 0.85rem;
  color: #333;
}
.delivery a:hover{
  text-decoration: underline;
}
.delivery-bar {
  padding: 0 10px 10px;
  font-size: 0.7rem;
  color: #999999;
}
.ad-video {
  margin-left: 15px;
}

/* main-section2-right-article 영역 */

/* main-section2-right-article-adv영역 */
.section2-right-article-adv {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 450px;
  gap: 8px;
}
.section2-right-article-adv img {
  border-radius: 8px;
  transition: 0.1s;
}
.section2-right-article-adv figure {
  border-radius: 8px;
  overflow: hidden;
}
.section2-right-article-adv figure:hover{
 text-decoration: underline;
}
.section2-right-article-adv figure:hover img {
  transform: scale(1.03);
}
.section2-right-article-adv figcaption {
  font-size: 0.9rem;
  color: #333;
}
.article-adv-footer {
  border-radius: 5px;
  background-color: #F8F9FA;
  width: 620px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.adv-footer-span1 {
  font-weight: 700;
}
.adv-footer-span2 {
  color: #8349F5;
}
#sale:hover {
  text-decoration: underline;
}

/* main-section2-footer */
.main-section2-footer {
position: relative;
border-top: 1px solid #E4E4E4;
text-align: center;
padding: 17px;
}
.main-section2-footer ul {
display: flex;
justify-content: center;
gap: 20px;
}
div.main-section2-footer li {
font-size: 0.9rem;
line-height: 27px;
color: #403f3f;
}
div.main-section2-footer ul span {
color: #8349F5;
font-weight: 500;
}
.main-section2-footer-icon {
position: absolute;
width: 30px;
font-size: 0.8rem;
color: #7F7F7F;
border: 1px solid #cfcece;
border-radius: 4px;
top: 22px;
right: 20px;
}

/* main-section3 영역 */
.main-section3 h2 {
font-size: 1.0rem;
color: #eae7e7;
margin: 15px;
}
.main-section3 h2 > a {
color: #7F7F7F;
}
.main-section3 h2 >a:hover {
text-decoration: underline;
}
#section3-h2span {
  margin-left: 120px;
  color: #191919;
  font-weight: 500;
  font-size: 0.9rem;
}

/* main-section3-article1 영역 */

.main-section3-article1-book ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.main-section3-article1-book-p {
  color: #AB4A29;
  font-weight: 500;
  font-size: 0.9rem;
}
.main-section3-article1-book-strong {
  font-size: 0.9rem;
  font-weight: 500;
}
.main-section3-article1-book-span {
  font-size: 0.85rem;
  color: #737373;
}
.main-section3-article1-book a:hover strong{
  text-decoration: underline;
}
.main-section3-article1-book-div-img {
  border-radius: 8px;
  overflow: hidden;
}
.main-section3-article1-book a:hover img {
  transform: scale(1.04);
  transition: 0.3s;
}

/* main-section3-article2 영역 */

.main-section3-article2 {
  width: 95%;
  margin: 0 auto;
  border-top: 1px solid rgb(228, 227, 227) ;
  border-bottom: 1px solid rgb(228, 226, 226);
  padding-top: 25px;
}
.main-section3-article2 h3 {
  font-weight: 500;
  margin-bottom: 15px;
}

.main-section3-article2-book{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.main-section3-article2-book img{
  width: 110px;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}
.main-section3-article2-book li{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 130px;

}
.main-section3-article2-book strong{
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.3;        
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: -0.02em;
  text-align: left;
  width: 100%;
}
.main-section3-article2-book span{
   font-size: 0.85rem;
  color: #6e6d6d;
  line-height: 1.2;
  text-align: left;
  width: 100%;
}








/* aside영역 */

aside{
border: 1px solid rgb(187, 90, 90);
width: 500px;
}